<h3>Liste des camps</h3>

<form method="GET">
	<input type="text" name="search" placeholder="Rechercher..." />
	<input type="submit" value="Rechercher" />
</form>

<table>
	<thead>
		<tr>
			<th>Nom</th>
			<th>Position</th>
			<th>Capacité</th>
		</tr>
	</thead>
	<tbody>
		{% for camp in camps %}
			<tr>
				<td>{{ camp.nom }}</td>
				<td><iframe
					width="600"
					height="450"
					frameborder="0" style="border:0"
					src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAS_aVYpbdqp_baqd5pIZ3WJT5nFi1lojs
					&q={{ camp.position.x }},{{ camp.position.y }}">
				</iframe></td>
				<td>{{ camp.capacite }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
